.about.container#about
  .container_title About
  //- 教育程度、技能、證書
  .about_group
    //- 教育程度
    .about_top_content.education
      .about_top_title
        .about_top_title_line
          hr
          hr
          hr
        .about_top_title_text 教育程度
      .about_top_image
        img(src=require("../../images/about_title_education.svg") alt="education" width="334" height="126")
      .about_top_detail
        //- img(src=require("../../images/about_phase_icon.svg") alt="icon" width="36" height="26")
        .about_top_detail_wrapper
          .about_top_detail_content
            .about_top_detail_content_block
              .about_top_detail_content_block_top
                p.chinese 世新大學
                .year_wrapper
                  p.year 2009 - 2013
              .about_top_detail_content_block_botton
                p.english SHIH HSIN UNIVERSITY
        .about_top_detail_wrapper
          .about_top_detail_content
            .about_top_detail_content_block
              .about_top_detail_content_block_top
                p.chinese 傳播管理學系
              .about_top_detail_content_block_botton
                p.english Department of Communications Management
    //- 技能
    .about_top_content.skills
      .about_top_title
        .about_top_title_line
          hr
          hr
          hr
        .about_top_title_text 技能
      .about_top_image
        img(src=require("../../images/about_title_skills.svg") alt="skills" width="334" height="126")
      .about_top_detail
        .about_top_detail_content
          .about_top_detail_content_block
            pre.about_top_detail_content_block_row ▻ 日文翻譯
            pre.about_top_detail_content_block_row ▻ 整合行銷
            pre.about_top_detail_content_block_row ▻ 平面設計
            pre.about_top_detail_content_block_row ▻ Excel
            pre.about_top_detail_content_block_row ▻ Word
          .about_top_detail_content_block
            pre.about_top_detail_content_block_row ▻ Sketch
            pre.about_top_detail_content_block_row ▻ Adobe XD
            pre.about_top_detail_content_block_row ▻ Adobe illustrator
            pre.about_top_detail_content_block_row ▻ Adobe Photoshop
            pre.about_top_detail_content_block_row ▻ HTML / CSS
    //- 證書
    .about_top_content.certificate
      .about_top_title
        .about_top_title_line
          hr
          hr
          hr
        .about_top_title_text 證書
      .about_top_image
        img(src=require("../../images/about_title_certificate.svg") alt="certificate" width="334" height="126")
      .about_top_detail
        //- img(src=require("../../images/about_phase_icon.svg") alt="icon" width="36" height="26")
        .about_top_detail_wrapper
          .about_top_detail_content
            .about_top_detail_content_block
              .about_top_detail_content_block_top
                p.chinese 日本語能力試驗
                .year_wrapper
                  p.year 2019  JUL
              .about_top_detail_content_block_botton
                p.english JLPT N1
  //- 工作經歷
  .about_group
    .about_top_content.experience
      .about_top_title
        .about_top_title_line
          hr
          hr
          hr
        .about_top_title_text 工作經歷
      .about_top_image
        img(src=require("../../images/about_title_experience.svg") alt="experience" width="1633" height="191")
      //- 整合行銷企劃＿標題
      .about_marketing_title_wrapper
        .about_marketing_title_wrapper_block
          img(src=require("../../images/about_phase_icon.svg") alt="phase" width="36" height="26")
          p.title 整合行銷企劃
        .year_wrapper
          p.year 2013 -2021
      .about_marketing_title_wrapper.marketing
        .about_marketing_text FB 社群經營、品牌識別設計、產品包裝設計、各類型錄設計、展場規劃與設計、行銷文案、行銷活動企劃與執行
      //- 八張圖片＿集合
      .about_marketing_container
        //- 毛天使
        a.about_marketing_block(href="#petangel")
          .about_marketing_picture
            img(src=require("../../images/about_cover_1.png") alt="cover" width="293" height="186")
            //- img.lazy(data-src=require("../../images/about_cover_1.png") alt="cover" width="293" height="186")
          .about_marketing_content
            .about_marketing_content_title_wrapper
              p.name 毛天使
              pre.sort 寵物清潔用品
            hr
            .about_marketing_content_detail FB 社群經營、品牌識別設計、產品包裝設計、型錄設計、展場規劃與設計、行銷文案
        //- 欣湛
        a.about_marketing_block(href="#cleaner")
          .about_marketing_picture
            img(src=require("../../images/about_cover_2.png") alt="cover" width="293" height="186")
            //- img.lazy(data-src=require("../../images/about_cover_2.png") alt="cover" width="293" height="186")
          .about_marketing_content
            .about_marketing_content_title_wrapper
              p.name 欣湛
              pre.sort 居家清潔用品
            hr
            .about_marketing_content_detail FB 社群經營、品牌識別設計、產品包裝設計、型錄設計、行銷文案
        //- 瑪莉雅之吻
        a.about_marketing_block(href="#maria")
          .about_marketing_picture
            img(src=require("../../images/about_cover_3.png") alt="cover" width="293" height="186")
            //- img.lazy(data-src=require("../../images/about_cover_3.png") alt="cover" width="293" height="186")
          .about_marketing_content
            .about_marketing_content_title_wrapper
              p.name 瑪莉雅之吻
              pre.sort 婦嬰清潔用品
            hr
            .about_marketing_content_detail FB 社群經營、品牌識別設計、產品包裝設計、型錄設計、行銷文案
        //- Conti
        .about_marketing_block
          .about_marketing_picture
            img(src=require("../../images/about_cover_4.svg") alt="cover" width="293" height="186")
            //- img.lazy(data-src=require("../../images/about_cover_4.svg") alt="cover" width="293" height="186")
          .about_marketing_content
            .about_marketing_content_title_wrapper
              p.name Conti
              pre.sort 球類運動品牌
            hr
            .about_marketing_content_detail FB 社群經營、平面廣告設計、捷運燈箱及公車廣告設計
        //- 聯維
        .about_marketing_block
          .about_marketing_picture
            img(src=require("../../images/about_cover_5.svg") alt="cover" width="293" height="186")
            //- img.lazy(data-src=require("../../images/about_cover_5.svg") alt="cover" width="293" height="186")
          .about_marketing_content
            .about_marketing_content_title_wrapper
              p.name 聯維
              pre.sort 有線電視公司
            hr
            .about_marketing_content_detail FB 社群經營、行銷活動企劃與執行
        //- 經濟部
        .about_marketing_block
          .about_marketing_picture
            img(src=require("../../images/about_cover_6.svg") alt="cover" width="293" height="186")
            //- img.lazy(data-src=require("../../images/about_cover_6.svg") alt="cover" width="293" height="186")
          .about_marketing_content
            .about_marketing_content_title_wrapper
              p.name 經濟部
              pre.sort 雲端創新應用服務競賽
            hr
            .about_marketing_content_detail 活動主辦、宣傳物設計
        //- 雅莉珊卓
        a.about_marketing_block(href="#alexandra")
          .about_marketing_picture
            img(src=require("../../images/about_cover_7.png") alt="cover" width="293" height="186")
            //- img.lazy(data-src=require("../../images/about_cover_7.png") alt="cover" width="293" height="186")
          .about_marketing_content
            .about_marketing_content_title_wrapper
              p.name 雅莉珊卓
              pre.sort 身體洗淨系列用品
            hr
            .about_marketing_content_detail 包裝設計
        //- 富盛豐
        a.about_marketing_block(href="#fu")
          .about_marketing_picture
            img(src=require("../../images/about_cover_8.png") alt="cover" width="293" height="186")
            //- img.lazy(data-src=require("../../images/about_cover_8.png") alt="cover" width="293" height="186")
          .about_marketing_content
            .about_marketing_content_title_wrapper
              p.name 富盛豐
              pre.sort 洗淨系列品牌
            hr
            .about_marketing_content_detail 官網 Banner 設計

      //- 其他_標題
      .about_other
        .about_other_block
          .about_other_block_container
            .about_other_block_icon
              img(src=require("../../images/about_phase_icon.svg") alt="icon" width="36" height="26")
            .about_other_block_detail_wrapper
              .about_other_block_detail_title_wrapper
                pre.about_other_block_detail_title 日文文書翻譯
              .about_other_block_detail_year_wrapper
                p.year.width 2021
          .about_other_block_container
            .about_other_block_detail_text 企業內部文書等案件翻譯。
        .about_other_block
          .about_other_block_container
            .about_other_block_icon
              img(src=require("../../images/about_phase_icon.svg") alt="icon" width="36" height="26")
            .about_other_block_detail_wrapper
              .about_other_block_detail_title_wrapper
                pre.about_other_block_detail_title 世新大學 傳播管理學系
                pre.about_other_block_detail_title 高中營 Photoshop 講師
              .about_other_block_detail_year_wrapper
                p.year 2013、2014
          .about_other_block_container
            .about_other_block_detail_text 用比較有趣、貼近大家生活的方式，教高中生們 Photoshop 的基礎技巧。
        .about_other_block
          .about_other_block_container
            .about_other_block_icon
              img(src=require("../../images/about_phase_icon.svg") alt="icon" width="36" height="26")
            .about_other_block_detail_wrapper
              .about_other_block_detail_title_wrapper
                pre.about_other_block_detail_title 世新大學 傳播管理學系
                pre.about_other_block_detail_title 基礎日文 助教
              .about_other_block_detail_year_wrapper
                p.year 2011 - 2012
          .about_other_block_container
            .about_other_block_detail_text 協助課堂教師上課事宜。
