.about.container#about
  .container_title About
  //- 教育程度、技能、證書
  .about_wrapper
    //- 教育程度
    .about_group.education
      .group_title
        .group_icon
          hr
          hr
          hr
        .title_text 教育程度
      .group_image
        img(src=require("../../images/originals/about_title_education.svg") alt="education" width="334" height="126")
      .group_content
        .content_block
          .block_icon
            img(src=require("../../images/originals/about_phase_icon.svg") alt="phase" width="36" height="26")
          .year_wrapper
            p.year 2009 - 2013
          .text_wrapper
            p.title.chinese 世新大學
            p.subtitle.english SHIH HSIN UNIVERSITY
            p.title.chinese 傳播管理學系
            p.subtitle.english Department of Communications Management
    //- 技能
    .about_group.skills
      .group_title
        .group_icon
          hr
          hr
          hr
        .title_text 技能
      .group_image
        img(src=require("../../images/originals/about_title_skills.svg") alt="skills" width="334" height="126")
      .group_content
        .content_block
          .skill-item
            span.icon ▻
            span 日文翻譯
          .skill-item
            span.icon ▻
            span 整合行銷
          .skill-item
            span.icon ▻
            span 平面設計
          .skill-item
            span.icon ▻
            span Excel
          .skill-item
            span.icon ▻
            span Word
          .skill-item
            span.icon ▻
            span Sketch
          .skill-item
            span.icon ▻
            span Adobe XD
          .skill-item
            span.icon ▻
            span HTML / CSS
          .skill-item
            span.icon ▻
            span Adobe Photoshop
          .skill-item
            span.icon ▻
            span Adobe illustrator
    //- 證書
    .about_group.certificate
      .group_title
        .group_icon
          hr
          hr
          hr
        .title_text 證書
      .group_image
        img(src=require("../../images/originals/about_title_certificate.svg") alt="certificate" width="334" height="126")
      .group_content
        .content_block
          .block_icon
            img(src=require("../../images/originals/about_phase_icon.svg") alt="phase" width="36" height="26")
          .year_wrapper
            p.year 2019  JUL
          .text_wrapper
            p.title.chinese 日本語能力試驗 JLPT N1
  //- 工作經歷
  .about_wrapper
    .about_group.experience
      .group_title
        .group_icon
          hr
          hr
          hr
        .title_text 工作經歷
      .group_image
        img(src=require("../../images/originals/about_title_experience.svg") alt="experience" width="1633" height="191")
      .group_content
        .content_block
          .block_icon
            img(src=require("../../images/originals/about_phase_icon.svg") alt="phase" width="36" height="26")
          .year_wrapper
            p.year 2013 -2021
          .text_wrapper
            p.title 整合行銷企劃
            p.description FB 社群經營、品牌識別設計、產品包裝設計、各類型錄設計、展場規劃與設計、行銷文案、行銷活動企劃與執行

        //- 八張圖片＿集合
        .about_marketing_container
          //- 毛天使
          a.about_marketing_block(href="#petangel")
            .about_marketing_picture
              img.lazy(src=require("../../images/previews/about_cover_1.svg") data-src=require("../../images/originals/about_cover_1.png") alt="cover" width="293" height="186")
            .about_marketing_content
              .about_marketing_content_title_wrapper
                p.name 毛天使
                pre.sort 寵物清潔用品
              hr
              .about_marketing_content_detail FB 社群經營、品牌識別設計、產品包裝設計、型錄設計、展場規劃與設計、行銷文案
          //- 欣湛
          a.about_marketing_block(href="#cleaner")
            .about_marketing_picture
              img.lazy(src=require("../../images/previews/about_cover_2.svg") data-src=require("../../images/originals/about_cover_2.png") alt="cover" width="293" height="186")
            .about_marketing_content
              .about_marketing_content_title_wrapper
                p.name 欣湛
                pre.sort 居家清潔用品
              hr
              .about_marketing_content_detail FB 社群經營、品牌識別設計、產品包裝設計、型錄設計、行銷文案
          //- 瑪莉雅之吻
          a.about_marketing_block(href="#maria")
            .about_marketing_picture
              img.lazy(src=require("../../images/previews/about_cover_3.svg") data-src=require("../../images/originals/about_cover_3.png") alt="cover" width="293" height="186")
            .about_marketing_content
              .about_marketing_content_title_wrapper
                p.name 瑪莉雅之吻
                pre.sort 婦嬰清潔用品
              hr
              .about_marketing_content_detail FB 社群經營、品牌識別設計、產品包裝設計、型錄設計、行銷文案
          //- Conti
          .about_marketing_block
            .about_marketing_picture
              img.lazy(src=require("../../images/previews/about_cover_4.svg") data-src=require("../../images/originals/about_cover_4.svg") alt="cover" width="293" height="186")
            .about_marketing_content
              .about_marketing_content_title_wrapper
                p.name Conti
                pre.sort 球類運動品牌
              hr
              .about_marketing_content_detail FB 社群經營、平面廣告設計、捷運燈箱及公車廣告設計
          //- 聯維
          .about_marketing_block
            .about_marketing_picture
              img.lazy(src=require("../../images/previews/about_cover_5.svg") data-src=require("../../images/originals/about_cover_5.svg") alt="cover" width="293" height="186")
            .about_marketing_content
              .about_marketing_content_title_wrapper
                p.name 聯維
                pre.sort 有線電視公司
              hr
              .about_marketing_content_detail FB 社群經營、行銷活動企劃與執行
          //- 經濟部
          .about_marketing_block
            .about_marketing_picture
              img.lazy(src=require("../../images/previews/about_cover_6.svg") data-src=require("../../images/originals/about_cover_6.svg") alt="cover" width="293" height="186")
            .about_marketing_content
              .about_marketing_content_title_wrapper
                p.name 經濟部
                pre.sort 雲端創新應用服務競賽
              hr
              .about_marketing_content_detail 活動主辦、宣傳物設計
          //- 雅莉珊卓
          a.about_marketing_block(href="#alexandra")
            .about_marketing_picture
              img.lazy(src=require("../../images/previews/about_cover_7.svg") data-src=require("../../images/originals/about_cover_7.png") alt="cover" width="293" height="186")
            .about_marketing_content
              .about_marketing_content_title_wrapper
                p.name 雅莉珊卓
                pre.sort 身體洗淨系列用品
              hr
              .about_marketing_content_detail 包裝設計
          //- 富盛豐
          a.about_marketing_block(href="#fu")
            .about_marketing_picture
              img.lazy(src=require("../../images/previews/about_cover_8.svg") data-src=require("../../images/originals/about_cover_8.png") alt="cover" width="293" height="186")
            .about_marketing_content
              .about_marketing_content_title_wrapper
                p.name 富盛豐
                pre.sort 洗淨系列品牌
              hr
              .about_marketing_content_detail 官網 Banner 設計

        .content_block
          .block_icon
            img(src=require("../../images/originals/about_phase_icon.svg") alt="icon" width="36" height="26")
          .year_wrapper
            p.year 2021
          .text_wrapper
            p.title 日文文書翻譯
            p.description 企業內部文書等案件翻譯。
        .content_block
          .block_icon
            img(src=require("../../images/originals/about_phase_icon.svg") alt="icon" width="36" height="26")
          .year_wrapper
            p.year 2013、2014
          .text_wrapper
            p.title 世新大學 傳播管理學系
            p.title 高中營 Photoshop 講師
            p.description 用比較有趣、貼近大家生活的方式，教高中生們 Photoshop 的基礎技巧。
        .content_block
          .block_icon
            img(src=require("../../images/originals/about_phase_icon.svg") alt="icon" width="36" height="26")
          .year_wrapper
            p.year 2011 - 2012
          .text_wrapper
            p.title 世新大學 傳播管理學系
            p.title 基礎日文 助教
            p.description 協助課堂教師上課事宜。

