//- works
.works.container#works
  .container_title Works
  //- works 上方標題文字及圖片
  .works_title_block
    .works_title_wrapper
      .works_title_line
        hr
        hr
        hr
      .works_title_text 作品集
    .works_title_image
      img.lazy(src=require("../../images/previews/works_title_works.svg") data-src=require("../../images/originals/works_title_works.svg") alt="works" width="1633" height="194")
  //- 毛天使
  .works_block#petangel
    .works_block_title_wrapper
      .works_block_title_icon
        img(src=require("../../images/originals/about_phase_icon.svg") alt="icon" width="36" height="26")
      .works_block_title_name 毛天使
      pre.works_block_title_sort / 寵物清潔用品
    .label_wrapper.brand_petangel
      .works_block_content
        .works_block_content_title 包裝設計
        .works_block_content_image_wrapper
          img.lazy.sm(src=require("../../images/previews/petangel_product_1.svg") data-src=require("../../images/originals/petangel_product_1.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_2.svg") data-src=require("../../images/originals/petangel_product_2.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_3.svg") data-src=require("../../images/originals/petangel_product_3.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_4.svg") data-src=require("../../images/originals/petangel_product_4.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_5.svg") data-src=require("../../images/originals/petangel_product_5.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_6.svg") data-src=require("../../images/originals/petangel_product_6.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_7.svg") data-src=require("../../images/originals/petangel_product_7.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_8.svg") data-src=require("../../images/originals/petangel_product_8.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_9.svg") data-src=require("../../images/originals/petangel_product_9.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_10.svg") data-src=require("../../images/originals/petangel_product_10.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_11.svg") data-src=require("../../images/originals/petangel_product_11.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_12.svg") data-src=require("../../images/originals/petangel_product_12.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_13.svg") data-src=require("../../images/originals/petangel_product_13.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_14.svg") data-src=require("../../images/originals/petangel_product_14.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_15.svg") data-src=require("../../images/originals/petangel_product_15.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_16.svg") data-src=require("../../images/originals/petangel_product_16.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_17.svg") data-src=require("../../images/originals/petangel_product_17.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_18.svg") data-src=require("../../images/originals/petangel_product_18.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_19.svg") data-src=require("../../images/originals/petangel_product_19.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_20.svg") data-src=require("../../images/originals/petangel_product_20.png") alt="product" width="222" height="299")
          img.lazy.sm(src=require("../../images/previews/petangel_product_21.svg") data-src=require("../../images/originals/petangel_product_21.png") alt="product" width="222" height="299")

      .works_block_content
        .works_block_content_title 型錄設計
        .works_block_content_image_wrapper
          img.lazy.md(src=require("../../images/previews/petangel_1.svg") data-src=require("../../images/originals/petangel_1.png") alt="product" width="394" height="406")
          img.lazy.md(src=require("../../images/previews/petangel_2.svg") data-src=require("../../images/originals/petangel_2.png") alt="product" width="394" height="406")
          img.lazy.md(src=require("../../images/previews/petangel_3.svg") data-src=require("../../images/originals/petangel_3.png") alt="product" width="394" height="406")
          img.lazy.md(src=require("../../images/previews/petangel_4.svg") data-src=require("../../images/originals/petangel_4.png") alt="product" width="394" height="406")
      .works_block_content
        .works_block_content_title 名片、LOGO 設計
        .works_block_content_image_wrapper
          img.lazy(src=require("../../images/previews/petangel_card.svg") data-src=require("../../images/originals/petangel_card.png") alt="product" width="297" height="189")
          img.lazy(src=require("../../images/previews/petangel_logo.svg") data-src=require("../../images/originals/petangel_logo.png") alt="product" width="240" height="189")
    button.works_more_button(type="button") More
    .works_cover
  //- 欣湛
  .works_block#cleaner
    .works_block_title_wrapper
      .works_block_title_icon
        img(src=require("../../images/originals/about_phase_icon.svg") alt="icon" width="36" height="26")
      .works_block_title_name 新湛
      pre.works_block_title_sort / 居家清潔用品
    .label_wrapper.brand_cleaner
      .works_block_content
        .works_block_content_title 消臭系列包裝設計
        .works_block_content_image_wrapper
          img.lazy.lg(src=require("../../images/previews/cleaner_1.svg") data-src=require("../../images/originals/cleaner_1.png") alt="product" width="240" height="287")
          img.lazy.lg(src=require("../../images/previews/cleaner_2.svg") data-src=require("../../images/originals/cleaner_2.png") alt="product" width="240" height="287")
          img.lazy.lg(src=require("../../images/previews/cleaner_3.svg") data-src=require("../../images/originals/cleaner_3.png") alt="product" width="240" height="287")
      .works_block_content
        .works_block_content_title 居家清潔系列包裝設計
        .works_block_content_image_wrapper
          img.lazy.lg(src=require("../../images/previews/cleaner_4.svg") data-src=require("../../images/originals/cleaner_4.png") alt="product" width="240" height="287")
          img.lazy.lg(src=require("../../images/previews/cleaner_5.svg") data-src=require("../../images/originals/cleaner_5.png") alt="product" width="240" height="287")
          img.lazy.lg(src=require("../../images/previews/cleaner_6.svg") data-src=require("../../images/originals/cleaner_6.png") alt="product" width="240" height="287")
          img.lazy.xl(src=require("../../images/previews/cleaner_7.svg") data-src=require("../../images/originals/cleaner_7.png") alt="product" width="393" height="206")
          img.lazy.xl(src=require("../../images/previews/cleaner_8.svg") data-src=require("../../images/originals/cleaner_8.png") alt="product" width="393" height="206")
          img.lazy.xl(src=require("../../images/previews/cleaner_9.svg") data-src=require("../../images/originals/cleaner_9.png") alt="product" width="393" height="206")
          img.lazy.xl(src=require("../../images/previews/cleaner_10.svg") data-src=require("../../images/originals/cleaner_10.png") alt="product" width="285" height="206")
    button.works_more_button(type="button") More
    .works_cover
  //- 瑪莉雅之吻
  .works_block#maria
    .works_block_title_wrapper
      .works_block_title_icon
        img(src=require("../../images/originals/about_phase_icon.svg") alt="icon" width="36" height="26")
      .works_block_title_name 瑪莉雅之吻
      pre.works_block_title_sort / 婦嬰清潔用品
    .label_wrapper.brand_maria
      .works_block_content
        .works_block_content_title 包裝、型錄、ＤＭ、LOGO 設計
        .works_block_content_image_wrapper
          img.lazy.md(src=require("../../images/previews/maria_1.svg") data-src=require("../../images/originals/maria_1.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_2.svg") data-src=require("../../images/originals/maria_2.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_3.svg") data-src=require("../../images/originals/maria_3.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_4.svg") data-src=require("../../images/originals/maria_4.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_5.svg") data-src=require("../../images/originals/maria_5.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_6.svg") data-src=require("../../images/originals/maria_6.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_7.svg") data-src=require("../../images/originals/maria_7.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_8.svg") data-src=require("../../images/originals/maria_8.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_9.svg") data-src=require("../../images/originals/maria_9.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_10.svg") data-src=require("../../images/originals/maria_10.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_11.svg") data-src=require("../../images/originals/maria_11.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_12.svg") data-src=require("../../images/originals/maria_12.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_13.svg") data-src=require("../../images/originals/maria_13.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_14.svg") data-src=require("../../images/originals/maria_14.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_15.svg") data-src=require("../../images/originals/maria_15.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_16.svg") data-src=require("../../images/originals/maria_16.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_17.svg") data-src=require("../../images/originals/maria_17.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_18.svg") data-src=require("../../images/originals/maria_18.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_19.svg") data-src=require("../../images/originals/maria_19.png") alt="product" width="400" height="410")
          img.lazy.md(src=require("../../images/previews/maria_20.svg") data-src=require("../../images/originals/maria_20.png") alt="product" width="400" height="410")
    button.works_more_button(type="button") More
    .works_cover
  //- 雅莉珊卓
  .works_block#alexandra
    .works_block_title_wrapper
      .works_block_title_icon
        img(src=require("../../images/originals/about_phase_icon.svg") alt="icon" width="36" height="26")
      .works_block_title_name 雅莉珊卓
      pre.works_block_title_sort / 身體洗淨系列用品
    .label_wrapper.brand_alexandra
      .works_block_content
        .works_block_content_title 包裝設計
        .works_block_content_image_wrapper
          img.lazy.sm(src=require("../../images/previews/alexandra_1.svg") data-src=require("../../images/originals/alexandra_1.png") alt="product" width="240" height="335")
          img.lazy.sm(src=require("../../images/previews/alexandra_2.svg") data-src=require("../../images/originals/alexandra_2.png") alt="product" width="240" height="335")
          img.lazy.sm(src=require("../../images/previews/alexandra_3.svg") data-src=require("../../images/originals/alexandra_3.png") alt="product" width="240" height="335")
          img.lazy.sm(src=require("../../images/previews/alexandra_4.svg") data-src=require("../../images/originals/alexandra_4.png") alt="product" width="240" height="335")
          img.lazy.sm(src=require("../../images/previews/alexandra_5.svg") data-src=require("../../images/originals/alexandra_5.png") alt="product" width="240" height="335")
          img.lazy.sm(src=require("../../images/previews/alexandra_6.svg") data-src=require("../../images/originals/alexandra_6.png") alt="product" width="240" height="335")
          img.lazy.sm(src=require("../../images/previews/alexandra_7.svg") data-src=require("../../images/originals/alexandra_7.png") alt="product" width="240" height="335")
          img.lazy.sm(src=require("../../images/previews/alexandra_8.svg") data-src=require("../../images/originals/alexandra_8.png") alt="product" width="240" height="335")
          img.lazy.sm(src=require("../../images/previews/alexandra_9.svg") data-src=require("../../images/originals/alexandra_9.png") alt="product" width="240" height="335")
    button.works_more_button(type="button") More
    .works_cover
  //- 富盛豐
  .works_block#fu
    .works_block_title_wrapper
      .works_block_title_icon
        img(src=require("../../images/originals/about_phase_icon.svg") alt="icon" width="36" height="26")
      .works_block_title_name 富盛豐
      pre.works_block_title_sort / 洗淨系列品牌
    .label_wrapper.brand_fu
      .works_block_content
        .works_block_content_title 官網 Banner 設計
        .works_block_content_image_wrapper.height
          img.lazy.xl(src=require("../../images/previews/fu_1.svg") data-src=require("../../images/originals/fu_1.png") alt="product" width="385" height="157")
          img.lazy.xl(src=require("../../images/previews/fu_2.svg") data-src=require("../../images/originals/fu_2.png") alt="product" width="385" height="157")
          img.lazy.xl(src=require("../../images/previews/fu_3.svg") data-src=require("../../images/originals/fu_3.png") alt="product" width="385" height="157")
          img.lazy.xl(src=require("../../images/previews/fu_4.svg") data-src=require("../../images/originals/fu_4.png") alt="product" width="385" height="157")
    button.works_more_button(type="button") More
    .works_cover